.prod-module {
    width: 100%;
    padding: 2.5px;
    margin-top: 1px;
    box-sizing: border-box;

    background-color: var(--background-main);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;

    text-align: justify;
    white-space: pre-wrap;
}

.prod-module input {
    font-size: 13px;
    color: var(--text-main);

    background-color: transparent;
    border: transparent;
}

.prod-module:hover {
    border: 1px solid var(--accent);
    outline: none;
    background-color: color-mix(in srgb, var(--accent), transparent 90%);
}

.mock-textbox {
    background-color: var(--background-tertiary);
    border: 1px solid var(--text-main);
    font-size: var(--text-small);

    width: 100%;
    margin-top: 7px;
    padding: 5px;
    line-height: 1.2;

    pointer-events: none;
}
.prod-required {
  color: var(--accent);
}