header {
    background-color: var(--background-main);
    box-shadow: 0px -5px 10px 5px black;
    
    z-index: 1000;
    width: 100%;
    top:0;
    
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    /* transition: all 300ms; */
}

.logo {
    color: var(--text-main);
    display: flex;
}

header img {
    margin-right: 5px;
    margin-left: 5px;
}

header h1{
    font-size: 19.5px;
}

header nav ul{
    display: flex;
    list-style: none;

    background-color: var(--background-secondary);
    gap: 1px;
    padding-left: 1px;
}

header nav ul li{
    background-color: var(--background-main);
    /* transition: all 300ms; */
    padding: 10px 10px;
}

header nav ul li a{
    color: var(--text-main);
    text-decoration: none;
    /* transition: all 300ms; */
    font-size: 16px;
}

header nav ul li:hover{
    background-color: var(--background-secondary);
    /* transition: all 300ms; */
    padding: 10px 15px;
}

header nav ul li:hover a{
    color: var(--text-secondary);
    /* transition: all 300ms; */

    font-weight: bold;
}


