.popup-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: color-mix(in srgb, black 75%, transparent);
  backdrop-filter: blur(2px);
}

.popup-container {
  width: clamp(450px, 50vw, 600px);
  align-content: center;
  margin: 0 auto;
  padding: 18px 10px;
  border-radius: 20px 0 20px 0;

  font-size: var(--text-base);
  background-color: var(--background-main);
  border: 2px solid var(--background-secondary);
}

.popup-container h1 {
  font-size: var(--text-h3);
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 10px;
}

.popup-container span {
  font-size: var(--text-base);
  text-align: justify;
  text-align-last: center;
  margin: 0;
}

/* ============================================
   PRODUCT MODULE STYLES
   ============================================ */
.popup-segment-container {
  display: flex;
  justify-content: center;

  gap: 20px;
  margin-top: 25px;
  margin-bottom: -10px;
  padding: 3px 0;

  font-size: var(--text-base);
}

.popup-buttons {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  gap: 20px;
  padding: 5px 10px;
  width: 200px;
  height: 100%;
  /* border-radius: 0; */
  
  font-size: var(--text-base);
}

.popup-segment-container input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--background-tertiary);
  border: 2px solid var(--text-main);
  color: var(--text-main);
  border-radius: 5px;
}

.popup-segment-container input:focus, .popup-segment-container input:hover {
  border: 2px solid var(--accent);
}
/* ============================================ */


/* ============================================ */
.popup-diver {
  height: 1.5px;
  background-color: var(--background-secondary);
  margin: 5px -10px;
  margin-bottom: 20px;
}

.popup-leftcorner {
 border-top-left-radius: 20px;
}

.popup-rightcorner {
  border-bottom-right-radius: 20px;
}
/* ============================================
   PRODUCT MODULE STYLES
   ============================================ */
