.prod-title{
  font-size: var(--text-h1);
  font-weight: bold;
}

.prod-text{
  width: 100%;
  padding: 3.5px;
  margin: 2.55px 0px;
  box-sizing: border-box;
  text-align: justify;
  text-align-last: center;

  display: flex;
  color: var(--text-main);
  background-color: var(--background-main);
  border: 1px solid transparent;
  border-radius: 2.5px;
}

.prod-text:focus {
  border: 1px solid var(--accent);
  outline: none;
  background-color: color-mix(in srgb, var(--accent), transparent 90%);
}

.prod-divider{
  width: 100%;
  height: 1px;
  background-color: var(--accent);
  margin: 10px 0px;
}

.prod-edit-tab {
  display: flex;
  align-items: center;
}

.prod-edit-tab span {
  text-align: left;
  flex: 1;
  font-size: var(--text-small);
  color: color-mix(in srgb, var(--text-main) 75%, transparent);
}