.comp-prod {
  padding: 0 clamp(5%, 5vw, 20%);

}

.prod-textbox {
  font-size: var(--text-base);
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
  box-sizing: border-box;

  display: flex;
  color: var(--text-main);
  background-color: var(--background-main);
  border: 1px solid var(--background-secondary);
  border-radius: 2.5px;
}

.prod-textbox:focus {
  border: 1.7px solid var(--accent);
  outline: none;
  background-color: color-mix(in srgb, var(--background-secondary), transparent 90%);
}

.prod-textbox::placeholder {
  color: var(--background-secondary);
  opacity: 50%;
}

.btn-add-module {
  background-color: transparent;
  color: var(--text-main);
  border: 1px solid var(--background-secondary);
  border-radius: 0;
  
  width: 50%;
  box-sizing: border-box;
  padding: 1.5px;
}


/* Radio Box */
.radiobox {
  display: flex;
  align-items: center;
  white-space: nowrap;

  font-size: var(--text-base);
  border: 1px solid var(--background-secondary);
  padding: 5px;
  margin: 5px 0;
  
  text-align: left;
  cursor: pointer;
}

.radiobox:has(input:checked) {
  border: 1.7px solid var(--accent);
}

.prod-radio-buttons {
  display: none;
}

.radiobox-btn-addOptions {
  background-color: transparent;
  color: var(--text-main);
  border: 1px solid var(--background-secondary);
  border-radius: 0;
  
  width: 100%;
  box-sizing: border-box;
  padding: 1.5px;
}

.input-textbox {
  box-sizing: border-box;
  color: var(--text-main);
  background-color: var(--background-main);

  border: 0 none;
  border-radius: 0;
  margin: -4px 0 -4px 5px;
  border-bottom: 1px solid var(--background-secondary);
  
}

input.input-textbox::-webkit-outer-spin-button,
input.input-textbox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-textbox:focus {
  font-size: var(--text-base);
  outline: none;
  background-color: color-mix(in srgb, var(--background-secondary), transparent 90%);
  border-bottom: 1.34px solid var(--accent);
}