.comp-prod {
  /* padding: 0 clamp(5%, auto, 30%); 300px - 750px*/
  width: clamp(450px, 50vw, 1000px);
  align-content: center;
  margin: 0 auto;
}

.prod-title {
  font-size: var(--text-h1);
  font-weight: bold;
}

.prod-text {
  width: 100%;
  padding: 3.5px;
  margin: 2.55px 0px;
  box-sizing: border-box;
  text-align: justify;
  text-align-last: center;

  display: flex;
  color: var(--text-main);
  background-color: var(--background-main);
  border: 1px solid transparent;
  border-radius: 2.5px;
}

.prod-text:focus {
  border: 1px solid var(--accent);
  outline: none;
  background-color: color-mix(in srgb, var(--accent), transparent 90%);
}

.prod-divider {
  height: 1px;
  background-color: var(--accent);
  margin: 10px 0px;
}

.prod-module {
  width: 100%;
  padding: 2.5px;
  margin-top: 1px;
  box-sizing: border-box;
  text-align: justify;

  background-color: var(--background-main);
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

.prod-module input{
  font-size: 13px;
  color: var(--text-main);
  
  background-color: transparent;
  border: transparent;
}

.prod-module input:focus{
  border: var(--accent);
  outline: none;
}

.mock-textbox {
  background-color: var(--background-tertiary);
  width: 100%;
  margin-top: 3.5px;
  border: 1px solid var(--text-main);
  pointer-events: none;
  font-size: var(--text-small);
  padding: 5px;
  line-height: 1.2;
}
.prod-required {
  color:var(--accent);
}

.selected-module {
  border: 1px solid var(--accent);
  background-color: color-mix(in srgb, var(--accent), transparent 95%);
  border-radius: 0%;
}
/* we're gonna make a hover class so that we dont need multiple classes to remove hover */
.selected-module:hover {
  background-color: color-mix(in srgb, var(--accent), transparent 95%);
  border: 1px solid var(--text-main);
}

.prod-edit-tab {
  gap: 5px;
  display: flex;
  padding: 5px;
  margin: -2.5px;
  margin-bottom: 7px;
  align-items: center;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  cursor: context-menu;
}

.prod-edit-tab span {
  text-align: left;
  flex: 1;
  font-size: var(--text-small);
  color: color-mix(in srgb, var(--text-main) 75%, transparent);

  /* highlight area covers, to be deleted */
  /* background-color: red; */
}

.prod-edit-tab-elements {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 2;
  gap: 5px;
  
}

.prod-edit-tab-buttons {
  display: flex;
  gap: 0px;
  padding: 0px;
  margin: -8.5px -6.5px -6.5px 0px;
}
.prod-edit-tab-buttons button {
  color: var(--text-main);
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 7.5px;
  width: 35px;
}
.prod-edit-tab-buttons button:hover {
  color: var(--background-main);
  background-color: var(--text-main);
}

.prod-edit-tab a:hover, .prod-edit-tab span:hover {
  color: var(--background-main);
  background-color: none;
  transition: all 200ms;
}

.prod-edit-tab input {
  color: var(--text-main);
  font-size: var(--text-small);
  background-color: var(--background-tertiary);
  border: 1.25px solid var(--background-secondary);
  width: 35px;
  text-align: center;
}
.prod-edit-tab input:focus {
  border: 1.25px solid var(--background-secondary);
}

.prod-edit-tab select {
  color: var(--text-main);
  font-size: var(--text-small);
  background-color: var(--background-tertiary);
  border: 1.25px solid var(--background-secondary);
}
.prod-edit-tab select:focus {
  border: 1.25px solid var(--background-secondary);
  outline: none;
}

.prod-hover:hover {
  border: 1px solid var(--accent);
  outline: none;
  background-color: color-mix(in srgb, var(--accent), transparent 90%);
}


/* Remove arrows from number inputs */
.prod-edit-tab input[type="number"]::-webkit-outer-spin-button,
.prod-edit-tab input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
/* .prod-edit-tab input[type="number"] {
  -moz-appearance: textfield;
} */
